<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="" alt="">
    <!-- <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header> -->
  
    <ion-card-content>
      {{weatherCurrently.summary}}
      {{(weatherCurrently.temperature - 32 )* (5/9)| number:'1.0-0' }}
    </ion-card-content>
  </ion-card>
</ion-content>
