<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      World News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <!-- <ion-label>Select Country</ion-label> -->
    <ion-select interface="action-sheet" placeholder="Country" (ionChange)="onChange($event)">
      <!-- <ion-select-option selected >Select Country</ion-select-option> -->
      <ion-select-option *ngFor="let c of countries" value="{{c.code}}">{{c.country}}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="container">
    <ion-label>Headlines</ion-label>
  </div>
  <ion-list *ngFor="let n of news">
    <ion-card (click)="onClickCard(n.source.id)">
      <img src="{{n.urlToImage}}" alt="">
      <ion-card-header>
        <ion-card-title>

        </ion-card-title>
        <ion-card-subtitle>
          Source: {{n.source.name}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          {{n.description}}
        </p>
        <p>Author {{n.author}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>